@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    /* Font */
    --font-nunito-sans: 'Nunito Sans', sans-serif;

    /* Colors */
    /* (Dark Mode Elements) */
    --color-blue-900: hsl(209, 23%, 22%);
    /* (Dark Mode Background) */
    --color-blue-950: hsl(207, 26%, 17%);
    /* (Light Mode Text) */
    --color-grey-950: hsl(200, 15%, 8%);
    /* (Light Mode Input) */
    --color-grey-400: hsl(0, 0%, 50%);
    /* (Light Mode Background) */
    --color-grey-50: hsl(0, 0%, 99%);

    /* Shadow */
    --shadow-light-mode: 0px 2px 17px 2px rgba(0,0,0,0.1);
    --shadow-dark-mode: 0px 2px 17px -4px #050e17;
}

@layer base {
    body {
        @apply w-full min-h-screen font-nunito-sans bg-grey-50 dark:bg-blue-950 transition-colors duration-500;
    }
}

@layer utilies {
    .filter-dropdown-active {
        @apply opacity-100 pointer-events-auto;
    }
}

@layer components {
    .header {
        @apply w-full h-20 flex items-center justify-between px-6 md:px-16 shadow-lg bg-white dark:bg-blue-900 transition-colors duration-500;

        h1 {
            @apply font-black text-sm md:text-xl text-grey-950 dark:text-white;
        }

        .toggle-theme-button {
            @apply w-fit flex items-center gap-2 px-2 py-1.5 md:px-4 md:py-3 rounded-md hover:bg-gray-200 hover:dark:bg-blue-950/60 cursor-pointer transition;

            .icon {
                @apply size-4 sm:size-5 text-grey-950 dark:text-white;
            }

            p {
                @apply text-sm font-semibold sm:text-[16px] text-grey-950 dark:text-white;
            }

        }
    }

    .content-section {
        @apply w-full h-full p-6 md:px-16 md:py-12;

        .actions-section {
            @apply w-full flex flex-col gap-10 md:flex-row md:items-center md:justify-between lg:gap-0;

            .search-input-container {
                @apply w-full lg:max-w-[480px] h-14 flex items-center px-8 gap-4 shadow-light-mode dark:shadow-dark-mode bg-white dark:bg-blue-900 rounded-md transition-colors duration-500;

                .search-input-icon {
                    @apply size-5 text-grey-400 dark:text-white;
                }
                
                .search-input {
                    @apply w-full h-full text-sm border-none outline-none pr-4 bg-transparent dark:text-white dark:placeholder:text-white;
                }

            }

            .filter-select-container {
                @apply relative w-full max-w-[240px] lg:max-w-[200px] h-14 px-8 lg:px-4 gap-4 shadow-light-mode dark:shadow-dark-mode bg-white dark:bg-blue-900 rounded-md z-50 transition-colors duration-500;

                .filter-select-trigger {
                    @apply w-full h-full flex items-center justify-between cursor-pointer;

                    p {
                        @apply text-[15px] text-grey-950 dark:text-white;
                    }

                    .filter-icon {
                        @apply size-5 text-grey-950 dark:text-white;
                    }

                }

                .filter-options-dropdown {
                    @apply absolute w-full flex flex-col gap-1 top-16 left-0 rounded-md px-6 py-4 lg:px-2 opacity-0 pointer-events-none shadow-light-mode transition duration-500 bg-white dark:bg-blue-900;

                    .filter-option {
                        @apply w-full cursor-pointer p-2 lg:px-2 text-[15px] dark:text-white rounded-md hover:bg-gray-200 hover:dark:bg-blue-950/60 transition-colors duration-300;
                    }

                }

            }

        }

        .countries-grid {
            @apply w-full h-full pt-10 md:pt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-16 place-items-center md:place-items-start;

            .country-card {
                @apply w-[280px] min-h-[400px] md:w-full lg:w-full flex flex-col rounded-md shadow-light-mode dark:shadow-dark-mode transition-colors duration-500 bg-white dark:bg-blue-900 overflow-hidden;

                .empty-image {
                    @apply w-full h-[190px] rounded-t-md flex items-center justify-center border-none outline-none bg-gray-200;

                    p {
                        @apply font-bold;
                    }
                }

                .country-image {
                    @apply w-full rounded-t-md object-cover h-[190px] border-none outline-none;
                }

                .country-card-info {
                    @apply w-full p-6 flex flex-col gap-4 text-left overflow-x-hidden;

                    h2 {
                        @apply w-full font-bold text-left lg:text-lg truncate dark:text-white;
                    }

                    .country-description {
                        @apply flex flex-col gap-1;

                        p {
                            @apply text-sm lg:text-[15px] dark:text-white;

                            span {
                                @apply font-bold;
                            }
                        }
                    }
                }

            }
        }
    }

    .country-page {
        @apply w-full h-full p-6 md:px-16 md:py-12;

        .back-button {
            @apply w-fit flex items-center justify-center gap-2 px-8 py-2 rounded-sm shadow-light-mode dark:shadow-dark-mode bg-white dark:bg-blue-900 dark:text-white hover:bg-gray-100 hover:dark:bg-blue-950/60 mt-6 transition-all duration-500;
        }

        .country-info-section {
            @apply w-full mt-20 pb-8 grid grid-cols-1 place-items-center md:place-items-start;

            .country-info-wrapper {
                @apply w-full flex flex-col xl:flex-row xl:items-center xl:justify-between gap-12;
                
                img {
                    @apply w-full aspect-video xl:flex-1 xl:h-[400px] xl:max-w-[600px];
                }

                .country-info {
                    @apply w-full xl:flex-1 xl:ml-16;

                    .country-name {
                        @apply text-2xl lg:text-4xl font-black mb-8 dark:text-white;
                    }

                    .country-info-inner {
                        @apply w-full flex flex-col xl:flex-row gap-10 xl:gap-4 2xl:gap-28;
                        
                        .country-subcontent {
                            @apply flex flex-col gap-1;
                        }

                        p {
                            @apply dark:text-[#dee3e4] font-light;
                            span {
                                @apply font-bold text-[16px];
                            }
                        }
                    }

                    .border-countries {
                        @apply w-full flex flex-col gap-4 xl:flex-row xl:items-center mt-10 xl:mt-20;

                        h2 {
                            @apply flex-1 text-lg xl:text-sm xl:text-nowrap font-bold dark:text-white;
                        }

                        .border-countries-wrapper {
                            @apply w-full flex flex-wrap gap-4 justify-center xl:justify-start;

                            .country-link,
                            p {
                                @apply flex items-center justify-center text-sm flex-1 xl:flex-none shadow-light-mode dark:shadow-dark-mode text-center px-3 xl:px-6 py-2 xl:py-1 rounded-sm bg-white dark:bg-blue-900 dark:text-white transition-all duration-500;
                            }

                            .country-link {
                                @apply cursor-pointer border-none outline-none hover:bg-gray-100 hover:dark:bg-blue-950/60;
                            }
                        }
                    }
                }
            }

        }
    }
}